:root {
  --primary-color: #ff6c00;
  --secodary-color: #191c26;

  --text-primary: #303030;
  --text-secondary: #9da4bd;
  --text-primary-lighten: #555555;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.suptitile-primary,
.suptitile-secondary {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.suptitile-secondary {
  color: #9da4bd99;
}

h2.section-title {
  font-family: 'Raleway';
  color: var(--text-primary);
  font-weight: 700;
  font-size: 42px;
}

h2.section-title.lighten {
  color: #ffffff;
}

.hero-description {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* navbar section */
nav.navbar {
  outline: 2px solid black;
}

nav.navbar .btn-box {
  display: inline-block;
}
.nav-links {
  outline: 2px solid red;
  background-color: salmon;
  display: inline-block;
}
.nav-links li {
  background-color: salmon;
  display: inline-block;
}
a.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

a.nav-link:hover,
.social-link:hover {
  color: var(--primary-color);
}

p.section-descriptio {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-primary-lighten);
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: var(--text-primary);
}

.primary-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 12px 20px;
}
.primary-btn.darken {
  color: var(--text-primary);
}
/* price styles */
.price-list {
  display: inline-block;
}
.price-item p,
.price-item span {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-secondary);
}
