:root {
  --primary-color: #ff6c00;
  --secodary-color: #191c26;

  --text-primary: #303030;
  --text-secondary: #9da4bd;
  --text-primary-lighten: #555555;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.suptitle-primary,
.suptitle-secondary {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.suptitle-secondary {
  color: #9da4bd99;
}

h2.section-title {
  font-family: 'Raleway';
  color: var(--text-primary);
  font-weight: 700;
  font-size: 42px;
}

h2.section-title.lighten {
  color: #ffffff;
}

.hero-description {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.header {
  height: 100vh;
  width: 100%;
}

/* navbar section */
nav.navbar {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.logo-img {
  width: 68px;
  height: 56px;
  margin: 0 32px;
}

.nav-holder {
  display: flex;
  align-items: center;
  height: 56px;
}

nav.navbar .btn-box {
}
.nav-links {
  background-color: rgb(151, 146, 145);
  display: flex;
}
.nav-links li {
  margin: 0 40px;
}
a.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

a.nav-link:hover,
.social-link:hover {
  color: var(--primary-color);
}

p.section-descriptio {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-primary-lighten);
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: var(--text-primary);
}

.primary-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 12px 20px;
}
.primary-btn.darken {
  color: var(--text-primary);
}

/* slider */
.slider {
  background-image: url(../images/slider/Slider\ img\ 3.jpg);
}
/* price styles */
.price-list {
  display: inline-block;
}
.price-item p,
.price-item span {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-secondary);
}

/* Why us! styles */

.number-box {
  display: inline-block;
  background-color: #f7f7f7;
  width: 170px;
  height: 132px;
}
.number-box p,
.number-box span {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  color: var(--text-primary);
}
.number-box span {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: var(--text-primary);
}
/* Masters styles here */
.master-card p {
  font-size: 18px;
  line-height: 25px;
  color: var(--text-primary);
}
.master-card span {
  font-size: 14px;
  line-height: 19px;
  color: var(--primary-color);
}

/* footer styles */
.footer-contacts {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-secondary);
}
