/* Why us! styles */

.number-container {
  padding: 0 100px;
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.number-box {
  display: inline-block;
  background-color: #f7f7f7;
  min-width: 170px;
  width: 48%;
  height: 132px;
  margin-top: 30px;
}
.number-box p,
.number-box span {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  color: $text-primary;
}
.number-box span {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: $text-primary;
}
